/* BUTTON */
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.seemore1{
	margin-top: -80px;
	height: 40px;
	width: 400px;
	float: right;
	
}
.seemore1:hover{
/* 	background-color: blue; */
}
.container .seemore1 .btn:hover {
    background-color: blue;
}