.container {
    position: relative;
    width: 150px;
	background-color: gray;
}

.image {
  opacity: 1;
  display: block;
  width: 150px;
  height: 150px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
	height: 30px;
	width: 180px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
/*   background-color: #4CAF50; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}