* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.container {
	background-image: url("./Pictures/IMG_0915.JPG");
  	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
/* 	background-size: contain; */
    position: relative;
      margin: 0 auto;  
}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0;
 //   background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
	width: 100%;
	max-width: 100%;
/*     width: 100%; */
    padding: 20px;
}
 .pimage2{
	height: 550px;
	width: 100%;
 }
 .pcolor{
	 font-size: 20px;
	 text-transform: uppercase;
 }
.pcolor1{
	color: black;
}